:root {
    --gradient1: hsl(6, 100%, 80%);
    --gradient2: hsl(335, 100%, 65%);
    --pblue: hsl(243, 100%, 93%);
    --gblue: hsl(229, 7%, 55%);
    --dblue: hsl(228, 56%, 26%);
    --vdblue: hsl(229, 57%, 11%);
    --fweight1: 400;
    --fweight2: 700;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", Arial, sans-serif;
    
}
body {
    background-image: url("images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 30px);
}

.card1 {
    height: 200px;
    width: 80%;
    min-width: 300px;
    background-color: var(--dblue);
    border-radius: 10px 100px 10px 10px;
    padding-inline: 50px;
    padding-block: 20px;
}
.card2 {
    height: 185px;
    width: 80%;
    min-width: 300px;
    border-radius: 10px;
    background: var(--dblue);
    margin: 20px;
    padding-inline: 50px;
    padding-block: 20px;
}
.ico {
    margin-block-start: 20px;
}
.icons {
    width: max-content;
}
.bg {
    background: var(--vdblue);
    padding: 15px;
    border-radius: 10px;
    height: 50px;
    margin-block-start: 30px;
    margin-inline-end: 15px;
}
p {
    color: var(--gblue);
}
span {
    font-weight: var(--fweight2);
    color: var(--pblue);
}
.text {
    margin-inline: 10px;
}
.progressbar {
    height: 20px;
    width: 100%;
    background: var(--vdblue);
    border-radius: 20px;
    position: relative;
}
.progressbar::before {
    content: "";
    background-image: linear-gradient(to right, var(--gradient1), var(--gradient2));
    border-radius: 20px;

    position: relative;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 20%;
}
.progressbar::after {
    content: "";
    background: var(--pblue);
    
    position: absolute;
    inset: 4px;
    width: 12px;
    left: 80%;
    margin-inline-start: -14px;
    border-radius: 50%;
}
.content {
    position: absolute;
    bottom: -45px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.span {
    color: var(--pblue);
    font-weight: var(--fweight2);
}
.sub {
    background: var(--pblue);
    width: 70%;
    border-radius: 10px;
    margin-block-start: 50px;
    margin-inline: auto;
    text-align: center;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub p:nth-child(1) {
    color: var(--vdblue);
    font-size: 50px;
    font-weight: var(--fweight2);
}
.sub p:nth-child(2) {
    font-weight: var(--fweight2);
}
.attribution { 
    font-size: 12px; 
    text-align: center; 
}
.attribution a { 
    color: var(--gblue); 
}
@media screen and (min-width: 900px) {
    body {
        background-image: url("images/bg-desktop.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100% 50%;
        background-color: var(--vdblue);
    }
    .container {
        display: flex;
        flex-direction: row;
    }
    .card1 {
        width: 25%;
    } 
    .card2 {
        width: 40%;
        height: 150px;
        margin-block-start: 70px;
        position: relative;
    }
    .sub {
        position: relative;
        position: absolute;
        bottom: 85%;
        right: 10%;
        width: 200px;
    }
    .icons {
        width: max-content;
    }
    .sub::after {
        content: "";
        border-style: solid;
        border-color: transparent var(--pblue) transparent transparent;
        border-width: 20px;

        position: absolute;
        right: 0;
        top: 75%;
    }
}

